<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url %>
</p>
<% if logged_in? %>
<%= link_to 'Edit', edit_feed_path(@feed) %>
<% end %>
<%= link_to 'Back', feeds_path %>
