<div class="container">
    <div class="topic">
      <ul>
        <li>「FootMangaとは」</li>
        <li>ログイン機能がついた写真投稿アプリです</li>
        <li><%= link_to "Sign up Here", new_user_path %></li>
      </ul>
    </div>
  </article>
</div>
